.standings-container {
    margin-top: 40px;
}

.standings-container table {
    width: 600px;
    margin: 10px auto;
    font-size: 10px;
    border-spacing: 0px;
    border-collapse: separate;
}

.standings-container table > tbody > tr > td, table > thead > tr > th {
    border-bottom: 1px solid grey;
    padding: 5px 2px 5px 2px;
}

/* Promotion */
.standings-container table > tbody > tr:nth-child(-n + 2) > td:nth-of-type(1) {
    background-color: #005000;
    color: white;
}

/* Playoffs */
.standings-container table > tbody > tr:nth-child(3) > td:nth-of-type(1),
.standings-container table > tbody > tr:nth-child(4) > td:nth-of-type(1),
.standings-container table > tbody > tr:nth-child(5) > td:nth-of-type(1),
.standings-container table > tbody > tr:nth-child(6) > td:nth-of-type(1) {
    background-color: #1E821E;
    color: white;
}

/* relegation */
.standings-container table > tbody > tr:nth-last-child(-n + 3) > td:nth-of-type(1) {
    background-color: #6E0000;
    color: white;
}

.standings-container table > thead > tr > th:nth-of-type(1) {
    text-align: left;
}

/* standing */
.standings-container table > tbody > tr > td:nth-of-type(1) {
    width: 20px;
}

/* team name */
.standings-container table > tbody > tr > td:nth-of-type(2) {
    width: 220px;
    text-align: left;
}

.standings-container table > tbody > tr > td:nth-of-type(3),
.standings-container table > tbody > tr > td:nth-of-type(4),
.standings-container table > tbody > tr > td:nth-of-type(5),
.standings-container table > tbody > tr > td:nth-of-type(6),
.standings-container table > tbody > tr > td:nth-of-type(7),
.standings-container table > tbody > tr > td:nth-of-type(8),
.standings-container table > tbody > tr > td:nth-of-type(9) {
    width: 20px;
    text-align: center;
}

/* Points */
.standings-container table > tbody > tr > td:nth-of-type(9) {
    font-weight: bold;
}

/* score */
/* table > tbody > tr > td:nth-of-type(3) {
    width: 50px;
    text-align: center;
} */

/* away team name */
/* table > tbody > tr > td:nth-of-type(4) {
    width: 220px;
    text-align: left;
} */

/* away team name */
/* table > tbody > tr > td:nth-of-type(5) {
    width: 20px;
} */
