
nav.menu {
    /* position: absolute;
    left: 0;
    /* top: 0; */
    /* height: 90vh; */
    /* overflow-y: auto; */
    padding: 0 10px 0 0;
}

/* nav.menu  */
ul.leagues {
    padding: 0;
    margin: 0;
    width: 100%;
}

ul.leagues > li {
    width: 100%;
    text-align: left;
    padding: 3px 0 2px 0px;
    border-bottom: 1px solid grey;
}

/* nav.menu  */
ul.leagues {
    list-style-type: none;
}

/* nav.menu  */
ul.leagues > li > a {
    font-size: 11px;
    color: grey;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 0 0 10px;
}

nav.menu ul.leagues ul.leagues-details {
    list-style-type: none;
}

nav.menu ul.leagues ul.leagues-details > li > a {
    font-size: 9px;
    color: grey;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 0 0 20px;
}

nav.menu > ul > li > h5 {
    color: grey;
    text-transform: uppercase;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

nav.menu > ul > li > a {
    color: grey;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav.menu ul > li > a:hover {
    color: green;
}
